// advantage-cards

.advantage-cards {
	padding: 100px 0;
}

.advantage-cards-body {
	&__item {
		display: flex;
		flex-direction: column;
		padding: 30px;
		border-radius: 20px;
		background: var(--bg-color);
		.icon {
			font-size: 60px;
			margin-bottom: 40px;
			color: var(--light-color);
		}
		.card-title {
			font-style: normal;
			font-weight: 500;
			font-size: 22px;
			line-height: 27px;
			color: #000000;
			margin-bottom: 15px;
		}
		.card-text {
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 28px;
			color: #555555;
		}
	}
}