.site-header {
	display: flex;
	align-items: center;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 10;
	padding: 30px 40px;
}

.site-logo {
	display: flex;
	max-width: 400px;
	margin-right: 40px;
	img {
		max-width: 100%;
		object-fit: contain;
	}
}

.header-address {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	max-width: 350px;
	&__text {
		font-style: normal;
		font-weight: 700;
		font-size: 20px;
		line-height: 24px;
		color: #333333;
		margin-bottom: 8px;
	}
	&__map {
		display: flex;
		color: var(--main-color);
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		&:hover {
			opacity: 0.7;
		}
	}
}

.header-contacts {
	margin-left: auto;
	display: flex;
	flex-direction: column;
	&__btn {
		display: flex;
		align-items: center;
		background: #fff;
		padding: 10px 20px;
		border-radius: 250px 0 0 250px;
		margin-right: -40px;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 17px;
		color: #555555;
		transition: all .3s ease;
		&:hover {
			color: #fff;
			background: #82d684;
		}
		.icon {
			flex: 0 0 auto;
			margin-right: 10px;
		}
	}
}

.header-contacts-phone {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	padding-left: 10px;
	&__description {
		font-style: normal;
		font-weight: 500;
		font-size: 12px;
		line-height: 15px;
		color: var(--main-color);
		margin-bottom: 4px;
	}
	&__link {
		font-style: normal;
		font-weight: 700;
		font-size: 20px;
		line-height: 24px;
		letter-spacing: 0.06em;
		color: #000000;
		&:hover {
			color: var(--main-color);
		}
	}
}