.main-box {
	min-height: 100vh;
	display: flex;
	align-items: center;
	background: url('../img/main-bg-image.jpg') top 0 center / cover no-repeat;
	position: relative;
	&:before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 400px;
		background: url('../img/babll.png') top 0 center / cover no-repeat;
		z-index: 1;
	}
	&__heading {
		font-style: normal;
		font-weight: 700;
		font-size: 62px;
		line-height: 76px;
		color: #000000;
		margin-bottom: 30px;
	}
	&__subheading {
		font-style: normal;
		font-weight: 500;
		font-size: 26px;
		line-height: 37px;
		color: #555555;
		margin-bottom: 40px;
	}
	&__btns {
		display: flex;
		.null-btn {
			margin-right: 30px;
		}
	}
	&__image {
		border-radius: 20px;
		height: 350px;
		overflow: hidden;
		margin-bottom: 30px;
		border: 10px solid #fff;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.main-box-bg-elem {
	position: absolute;
	bottom: -170px;
	right: 60px;
	width: 230px;
	height: 400px;
	z-index: 3;
	pointer-events: none;
	img {
		max-width: 100%;
		object-fit: contain;
	}
}